#API-key-modal {
    display: grid;
    grid-area: modal;
    width: 100%;
    justify-content: right;
    // position: absolute;
    // font: $font-stack;

}
#api-key-input {
    font-family: Helvetica, sans-serif;
}
    
#headers-key-input {
    font-family: Helvetica, sans-serif;
}
