#history-display {

    grid-area: historyDisplay;
    overflow: scroll;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    grid-template-areas:
    "historyHeader"
    "historyList" ;
    height: 85vh;
    // width: 90%;
    font-family: Helevtica, sans-serif;
    background-color: #f7f7f7;
    resize: none;
    // margin-left: 10px;
    // padding: 20px 10px;

    ul {
        list-style-type: none;
        font-size: 13px;

        li {
            border-bottom: 1px solid $dark-color;
            padding-top: 5px;
        }

    }


    .history-delete {

        i {
            color: $dark-color;
        }
        
    }

    .history-edit {

        i {
            color: $loading-color;
        }

    }

    #history-header {
        display: grid;
        grid-area: historyHeader;
        background-color: $loading-color;
        color: $highlight-color;
        height: 5vh;
        padding-left: 10px;
        // box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
        align-items: center;
        font-weight: bold;
    }
    
    #history-list {
        grid-area: historyList;
        padding: 20px 10px;
    }

}