#menu {
    justify-self: stretch;
    text-align: right;
    align-items: center;
    padding-left: 20px;
    color: white;
    background-color: $dark-color;
    grid-area: menu;
    display: grid;
    @extend %headers;
    
    
}
