#query-input {
    
    grid-area: queryInput;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px;
    grid-template-areas:
    "codeMirror"
    "buttons" ;
    height: 70vh;
    background-color: $background-color;
    resize: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    #code-mirror {
        grid-area: codeMirror;
    }
    
    #buttons {
        grid-area: buttons;
    }

    .react-codemirror2 {
        max-height: 64.5vh;
        border-radius: 3px;
        overflow-y: scroll;
        overflow-x: scroll;

        .CodeMirror-scroll{
            // div inside of react-codemirror2 that dynamically changes based on code lines
            height: 100%;
            min-height: 72vh;
            // move this max width somewhere else
            max-width: 38vw;
        }
    }
}