#query-input {
    
    #code-mirror {
        grid-area: codeMirror;
    }
    
    #buttons {
        grid-area: buttons;
    }

    background-color: $background-color;
    height: 70vh;
    grid-area: queryInput;
    resize: none;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 40px;
    grid-template-areas:
    "codeMirror"
    "buttons" ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    .react-codemirror2 {
        max-height: 65vh;
        overflow-y: scroll;
        border-radius: 3px;
        
        .CodeMirror-scroll {
            height: 100%;
            min-height: 72vh;
        }

    }

}