
@import 'variables';
@import '_queryInput.scss';
@import '_queriesContainer.scss';
@import "_queryInput.scss";
@import "_queryOutputDisplay.scss";
@import "_endpointField.scss";
@import "_menu.scss";
@import "_header.scss";
$font-stack: Helvetica, sans-serif, $dark-color;

html {
    // width: 100%;
}

body {
    margin: 0;
    // width: 100%;
}

#app {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    top:0px;
    left:0px;
    display: grid;
    grid-template-rows: 50px 45px 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "header header"
        ". ."
        "queryContainer queryContainer";
    font: $font-stack;
    background-color: $background-color;
}


.submit-button {
    background-color: $secondary-color;
    color: $background-color;
}

%input-fields {
    border-left: 1px solid $highlight-color;
}

@-webkit-keyframes colorchange
{
0%   {background: #0D5C63;}
// 25%  {background: #247B7B;}
50%  {background: #78CDD7;}
// 75%  {background: #247B7B;}
100% {background: #0D5C63;}
}

// @-webkit-keyframes colorchange
// {
// 0%   {background: #E5446D;}
// 25%  {background: #FF6B6B;}
// 50%  {background: #FF8966;}
// 75%  {background: #FF6B6B;}
// 100% {background: #E5446D;}
// }


%headers {
    -webkit-animation: colorchange 20s;
    animation: colorchange 20s;
    animation-iteration-count: infinite;
}
