
@import 'colors';
@import 'QueryInput.scss';
@import 'QueriesContainer.scss';
@import "QueryInput.scss";
@import "QueryOutputDisplay.scss";
@import "EndpointField.scss";
@import "menu.scss";
@import "header.scss";
$font-stack: Helvetica, sans-serif, $dark-color;

html {
    // width: 100%;
}

body {
    margin: 0;
    // width: 100%;
}

#app {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    top:0px;
    left:0px;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 50px 1fr;
    grid-template-areas: 
        "menu header"
        "queryContainer queryContainer";
    font: $font-stack;
    background-color: $background-color;
}


.submit-button {
    background-color: $secondary-color;
    color: $background-color;
}

%input-fields {
    border-color: $highlight-color;
}
