#endpoint-field {
  
    grid-area: endpointField;
    // this is not ideal to have this precise number
    // settings look best with default Electron sized window
    width: 90vw;
    // align-self: center;
    // form {
    //     width: 800px;
    // }

    // form {
    //     width: 90vw;
    // }
    
    textarea {
    // this is not ideal to have this precise number
    // settings look best with default Electron sized window
        width: 100%;
        height: 25px;
        resize: none;
        @extend %input-fields;
        font-size: 1.3rem;
    }
}