#header {
    grid-area: header;
    justify-self: stretch;
    text-align: right;
    align-items: center;
    padding-right: 20px;
    color: white;
    background-color: $dark-color;
    font-family: 'Special Elite', Helvetica, cursive;
}