#menu {
    justify-self: stretch;
    text-align: right;
    align-items: center;
    padding-left: 20px;
    color: white;
    background-color: $dark-color;
    font-family: 'Special Elite', Helvetica, cursive;
    grid-area: menu;

    button {
        background-color: white;
        border-color: $dark-color;
        border-radius: 3px;
        outline: none;
    }
}
