#query-input {
    grid-area: queryInput;
    resize: none;
    height: 70vh;
}

#query-output {
    grid-area: queryOutput;
}


#queries-container {
    grid-area: queryContainer;
    width: 80%;
    justify-self: center;
    display: grid;
    // gives fixed size for first column. intermediary column will shrink
    // as needed. output will be as large as needed
    grid-template-columns: auto 30px auto;
    grid-template-areas:
        "endpointField endpointField endpointField"
        "queryInput . queryOutput"
        "queryInput . queryOutput"
        "queryInput . queryOutput" ;
    background-color: $background-color;
}