.react-tab__tabs-panel {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "queryContainer";
    background-color: green;
}

.react-tabs {
    grid-area: reactTabs
}

.react-tabs__tab {
    background-color: green;
}

.react-tabs__tab--selected {
    background-color: $loading-color;

    button: {
        background-color: green;
    }
}

#tabs-list {
    display: grid;
}

#add-tab-button {
    font-size: 13px;
}