$dark-color: #31708b;
$secondary-color: #5085a5;
$background-color: #f7f9fb;
$primary-color: #8fc1e3;
$highlight-color: #f7f9fb;
$loading-color: #ff6b6b;
$loading-color-hover: rgba(255, 107, 107, 0.9);
$font-stack: Helvetica, sans-serif, $dark-color;


